# Ignore environment variables
.env

# Ignore virtual environment folders
venv/
env/

# Ignore the media folder
media/

#  # Ignores all pycache directories
__pycache__/

# Ignores .pyc, .pyo and .pyd files
*.py[cod]       