{% extends "frontend/homepage.html" %}
{% load static %}


        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- Bootstrap Css -->
        <link href="{% static 'static/assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css">
        <!-- Icons Css -->
        <link href="{% static 'static/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css">
        <!-- App Css-->
        <link href="{% static 'static/assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css"> 

{% block content %}

<h1>Photographer List goes here.</h1>

<div class="container" style="display: grid; grid-template-columns: (3, 1fr); grid-gap: 10px;">
{% for photographer in object_list %}
    <div class="col-md-6 col-xl-3">
            
        <div class="card">
            <div class="card-body">
                <h4 class="card-title ">{{photographer.first_name}} {{photographer.last_name}}</h4>
                <h6 class="card-subtitle font-14 text-muted">{{photographer.category}}</h6>
            </div>
            <img class="img-fluid" src="assets/images/small/img-4.jpg" alt="{{photographer.first_name}}'s pfp">
            <div class="card-body">
                <p class="card-text">{{photographer.description}}</p>
                <a href="#" class="card-link">{{photographer.email}}</a>
                <a href="#" class="card-link">{{photographer.phone_no}}</a>
                <a href="#" class="card-link">{{photographer.rating}}</a>
                <a href="#" class="card-link">{{photographer.rate}}</a>
            </div>
        </div>

    </div><!-- end col -->
</div>
{% endfor %}

{% endblock %}